/* set colored border, padding, and list-style-type of animals list*/
.favorite-animals-list {
  border: solid;
  border-color: #C689C6;
  padding-top: 6%;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 6%;
  list-style-type: "\1F431";
}