.app {
  text-align: center;
  background-color: #E8DFCA;
  color: #937DC2;
}

header {
  background-color: #F5EFE6;
  color: #937DC2;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: 1rem;
}

.status {
  margin: 1rem;
}

.content {
  margin: 2rem;
}

.login {
  margin: 2rem;
}

.default-word {
  margin: 1rem;
}

.change__form {
  margin: 1rem;
}

footer {
  background-color: #DFD3C3;
  text-align: center;
  height: 2rem;
  line-height: 200%;
}

.cat-emoji-footer {
  text-align: center;
}