*, *::before, *::after { 
  box-sizing: border-box;
}

body {
  background-color: #E8DFCA;
  color: #937DC2;
}

/* Header section */
header {
  background-color: #F5EFE6;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: 1rem;
}

/* Main section */
.login {
  text-align: center;
  padding: 2rem;
}

.login-failed {
  text-align: center;
}

.change-word {
  text-align: center;
  padding: 2rem;
}

.no-display {
  display: none;
}

.status {
  text-align: center;
}


/* Send word */
.change-word { 
  grid-area: outgoing;
  text-align: center;
  margin: 2rem;
}

.to-send {
  height: 50px;
  width: 250px;
}

.send-button {
  background-color: #937DC2;
  border: none;
  color: white;
  padding: 10px 24px;
  margin-left: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.send-button:hover {
  background-color: white;
  color: #937DC2;
}

/* Footer section */
footer {
  background-color: #DFD3C3;
  text-align: center;
  height: 2rem;
  line-height: 200%;
}

.cat-emoji-footer {
  text-align: center;
}

